/* custom styles */
/*@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Arvo');*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

section {
    padding-top: 100px;
    padding-bottom: 40px;
}

.mini-container {
    width: 900px;
    margin: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.text-grey {
    color: #666;
}

.about-people .ceo-container {
    padding: 40px 0 100px;
}

.between {
    justify-content: space-between;
}

.five {
    flex-basis: 39.3333333333%;
    width: 39.3333333333%;
}

.seven {
    flex-basis: 56.6666666667%;
    width: 56.6666666667%;
}

.founder-image {
    height: 295px;
    margin-bottom: 10px;
    border-radius: 100%;
}

.about-people .team-container h5, .about-people .ceo-container h5 {
    margin-bottom: 0;
}
.about-people .team-container .text-grey, .about-people .ceo-container .text-grey {
    font-size: .9rem;
}

footer {
    background-color: #254180;
    background-size: cover;

}

body>section#homepage-header {
    width: 100%;
    height: 120px;
    z-index: 11;
    transition: all .3s ease-in-out;
    position: fixed;
    border-bottom-color: transparent;
    padding-top: 0px;
}

body>section#homepage-header .scrolled {
    z-index: 99;
    height: 80px;
    padding-top: 0px;
    padding-right: 30px;
    padding-left: 10px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.91) 47%, rgba(237,237,237,0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.91)), color-stop(100%, rgba(237,237,237,0.8)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.91) 47%, rgba(237,237,237,0.8) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.91) 47%, rgba(237,237,237,0.8) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.91) 47%, rgba(237,237,237,0.8) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.91) 47%, rgba(237,237,237,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );   
}

.banner-text {
    text-align: center;
    color: #fff;
    margin-bottom: 8%;
}

.banner-card img, .banner-text h2, .banner-text p {
    margin-bottom: 5%;
}

.banner-text p {
    font-weight: 400;
}

.control-icon {
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}

.navbar-brand {
    padding-left: 3.5rem;
}

nav .logo {
    float: left;
    padding-right: 40px;
}

nav a {
    color: #e74c3c;
}

nav .logo img {
    transition: .8s;
    max-height: 3rem;
}
nav .logo img:hover {
    max-height: 4.5rem;
    transform: rotate(360deg);
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;
    /*color: #fff;*/
    padding: 40px;
    font-weight: 400;
    text-decoration: none;
    transition: color linear .5s;
}

nav ul li a:hover{
    /*color: #fff;*/
    opacity: 0.9;
}

#navbarDefault ul li a {
    padding-left: 20px;
    padding-right: 40px;
    font-size: inherit;
}

#p-with-color {
    color: #e74c3c;
}

nav.scrolled ul li a {
    color: black;
    line-height: 60px;
}

.content {
    max-width: 950px;
    margin: auto;
    position: relative;
}

div#nav-fp {
    padding-top: 100px;
}

.laptop-image {
    position: relative;
    top: 0;
    z-index: 0;
}

.macbook-hero {
    margin: 0 auto;
    position: relative;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*.banner-images-cards {
    position: relative;
}*/

.macbook-hero /*.macbook-screen*/ {
    position: relative;
    left: 12.4%;
    top: 5.4%;
    right: 11.8%;
    bottom: 30.6%;
    max-width: 835px;
    max-height: 522px;
}

/*.macbook-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-image img {
    height: auto;
    position: absolute;
    right: 0;
    top: 330px;
    width: 20%;
}*/

#bio > div > div > div.col-sm-1 > div {
    background-color: ghostwhite;
    border-radius: 5px;
}

section.section-bg {
    width: 100%;
    background-size: cover;
    padding-top: 0px;
    border-radius: 0% 0% 0% 0%;
    background: rgba(0,225,250,1);
    background: -moz-linear-gradient(top, rgba(0,225,250,1) 0%, rgba(255,255,255,0.73) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,225,250,1)), color-stop(100%, rgba(255,255,255,0.73)));
    background: -webkit-linear-gradient(top, rgba(0,225,250,1) 0%, rgba(255,255,255,0.73) 100%);
    background: -o-linear-gradient(top, rgba(0,225,250,1) 0%, rgba(255,255,255,0.73) 100%);
    background: -ms-linear-gradient(top, rgba(0,225,250,1) 0%, rgba(255,255,255,0.73) 100%);
    background: linear-gradient(to bottom, rgba(0,225,250,1) 0%, rgba(255,255,255,0.73) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1fa', endColorstr='#ffffff', GradientType=0 );

    min-height: fit-content;
    padding-top: 0!important;
    margin-top: 0!important;
}

/*.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}*/

@keyframes textAnimation {
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0%);
        opacity: 1;
        }
}

.animate {
    animation: textAnimation 1s forwards 0s ease-in-out;
}

@keyframes stayInControl{
    0%{
        transform: rotate(0) translateX(-190px) translateY(0);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateX(0) translateY(0);
        opacity: 1;
        }
}

.control-icon h1 {
    animation: stayInControl 1s forwards 0s ease;
}

section.control-icon {
    width: 100%;
    /*background: url("../images/bg-2.svg");*/
    background-size: cover;
}

/*section.features {
    width: 100%;
    /*background: url("../images/features-bg.jpg");
    background-size: cover;
    padding-bottom: 75px;
}*/

.btn-lg {
    border-radius: 2.5rem;
}

/*section.features h1 {
    font-weight: 400;
    color: #fff;
    font-size: 38px;
}*/

/*section.features p, section.why p {
    color: #8e95af;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}*/

 section.features .card {
    background-color: #28d57a;
    border-radius: 2rem;
 }

 /*section.features .card-columns  {
    column-count: 4;
 }*/

 .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }

    @include media-breakpoint-only(xs) {
        column-count: 1;
    }
  }

 section.features .card h4 {
    color: #fff;
 }

 section.why {
    width: 100%;
    padding-bottom: 75px;
 }

 section.why .why-sectionbg {
    width: 40%;
    position: absolute;
    right: 55px;
    top: 0;
 }

 /*section.why .content {
    max-width: 950px;
    margin: auto;
    position: relative;
 }*/

 section.why img .cardbg {
    width: 50px;
 }

 section.why .card {
    background-color: #fff;
    border-color: #28d57a;
 }

 section.why .card-body h4 {
    font-size: 23px;
    color: #28d57a;
 }

 /*section.why .card:hover {
    background-color: rgba(231, 76, 60,0.8);
    color: #fff;
    margin: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(46,59,125,.23);
 }*/

 .box-shadow { 
     box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

.pricing-header {
    letter-spacing: 0.2rem;
}

.red-star {
    color: #e74c3c;
}

.btn-outline-danger:hover {
    background-color: #e74c3c;
    color: #FFF;
}

#text-3, #text-2, .store p {
    text-align: center;
}

.footer-why-boxes {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.footer-why-boxes-outter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-why-box-icon.footer-why-box-icon-secure {
    background-position: -91px top;
}
.footer-why-box-icon {
    background: rgba(0, 0, 0, 0) url("../images/footer-icon.png") no-repeat scroll left 7px top;
    background-position-x: left 7px;
    background-position-y: top;
    height: 50px;
    margin: 0 auto 10px;
    width: 50px;
}
.footer-why-box-icon.footer-why-box-icon-support {
    background-position: -166px top;
}
.footer-why-box-icon.footer-why-box-icon-price {
    background-position: right 4px top;
}
.footer-why-box {
    padding-bottom: 30px;
    padding-top: 20px;
}

.widget-area {
    margin: 20px 0;
    line-height: 1.7em;
}
footer .widget-area p {
    color: #2cc46a;
    font-size: 14px;
    font-weight: 600;
    padding-top: 0;
    text-transform: capitalize;
}

footer address {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
}
.simple-social-icons {
    overflow: hidden;
	text-align: center;
}
.simple-social-icons ul {
    margin: 0;
    padding: 0;
}
.simple-social-icons ul li {
    background: none !important;
    border: none !important;
    /*float: left;*/
    list-style-type: none !important;
    margin: 0 16px 16px 38px !important;
    padding: 0 !important;
}
.simple-social-icons ul li a, .simple-social-icons ul li a:hover, .simple-social-icons ul li a:focus {
    background-color: #ffffff !important;
    border-radius: 3px;
    color: #254180 !important;
    border: 0px #ffffff solid !important;
    font-size: 15px;
    padding: 8px;
}

.copyright p {
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}

section#text-2, section#simple-social-icons-2 {
    padding-top: 0;
}


